input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.equipment-swiper .swiper-button-next,
.equipment-swiper .swiper-button-prev {
  color: white !important;
  background: rgba(220, 38, 38, 0.8); /* Red-600 with opacity */
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  transform: scale(0.7);
}

.equipment-swiper .swiper-button-next:after,
.equipment-swiper .swiper-button-prev:after {
  font-size: 20px !important;
  font-weight: bold;
}

.equipment-swiper .swiper-pagination-bullet-active {
  background: #dc2626 !important; /* Red-600 */
}

.swiper-button-next, .swiper-button-prev {
  color: #ffffff !important;
  transform: scale(0.6);
}
.swiper-pagination-bullet-active {
  background: #dc2626 !important;
}